body{background-image:url('loginBackground4.jpg'); background-repeat:no-repeat; background-position: center top; 
		text-align: center; padding-top: 290px; font-family: serif; color: white;}

h1{font-size:3.7em;}

p{font-size: 1.6em;}

.button-primary-fb{}

#fb-login-button{}