<div class="col-sx-12 col-sm-6 col-md-4">
  <div class="row">
    <div class="col-xs-12 cover-tile-image" style="text-align: left;">
      <div class="court">
        <div class="row">
          <div class="col-xs-12 cover-tile-image" style="text-align: left;">
            <div id="nameBlock">
              <p style="color: #0099ff; padding-left: 5px; padding-top: 5px;"> Bulldog Court</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 cover-tile-text" style="text-align: left;">
            <div id="picBlock">
              <div id="courtPic"></div>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 cover-tile-text" style="text-align: left;">
            <h5>Availability</h5>
            <h5>Time slots available</h5>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>