<!DOCTYPE html>
<html>
	<head>
		 <title>Events</title>
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	    <!-- AngularJS -->
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<!-- Our styles and code -->
		<link rel="stylesheet" type="text/css" href="../css/events.css">

		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>



		<nav class="navbar navbar-inverse">
	    <ul class="nav navbar-nav">
				<li><a href="/views/homePage.html">Home</a></li>
				<li><a href="/view/profile.html">Profile</a></li>
	    </ul>
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/views/events.html">Events</a>
	    </div>
	  </nav>




	</body>
</html>