<!DOCTYPE html>
<html ng-app="SportScheduler">
	<head>
	  <title>Events</title>
    <link rel="shortcut icon" href="../assets/basketball.ico"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- AngularJS -->
    <script src="../libs/angular/angular.js"></script>
		<!-- Our styles and code -->
		<link rel="stylesheet" type="text/css" href="../css/facility.css">
		<script type ="text/javascript" src="../js/app.js"></script>

		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-controller="GameController" on-load="initGet()">
         <span ng-init="initGet()"></span>
        <script>

      if(localStorage.loggedIn === "false"){
        window.location = "../"
      }

      window.fbAsyncInit = function() {
      FB.init({
      appId      : '624244104353794',
      xfbml      : true,
      version    : 'v2.2'
      });
      };

      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav class="navbar navbar-inverse" ng-include="'navbar.html'" style="background-color: #4E7BA0; border-color: #4E7BA0;"></nav>

	  <div class="container" style="padding-top: 25px;" ng-controller="GameController">
      <h1 style="text-align: center;">Play Today, Join a Game</h1>
      <h3 style="text-align: center;">Find games to join or review games you have organized</h3>
      <div class="panel-group" id="accordion" style="padding-top: 25px;">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: #4E7BA0; color: white;">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#mygames">My Games</a>
            </h4>
          </div>
          <div id="mygames" class="panel-collapse collapse in">
            <div class="panel-body">

              <div class="cover-container">
                  <div class="row" >
                     <div class="myGamesBox"></div>
                      </div>
                  </div> 
              </div>

          	</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: #4E7BA0; color: white;">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#opengames">Open Games</a>
            </h4>
          </div>
          <div id="opengames" class="panel-collapse collapse">
            <div class="panel-body">

            	<div class="cover-container">
                  <div class="row">

                    <!-- Call initiate and it will load all the games -->

                  </div> 
              </div>

          	</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: #4E7BA0; color: white;">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#allgames">All Games</a>
            </h4>
          </div>
          <div id="allgames" class="panel-collapse collapse">
            <div class="panel-body">

            	<div class="cover-container">
                  <div class="row">
                     <div class="allGamesBox"></div>
                  </div> 
              </div>

            </div>
          </div>
        </div>
      </div> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
  <div id="footer"></div> 
</html>