<div class="row">
  <div class="col-xs-12 cover-tile-image" style="text-align: left;">
    <div class="court">
      <a href="../views/court.html">
      <div class="row">
        <div class="col-xs-12 cover-tile-image" style="text-align: left;">
          <div id="nameBlock">
            <p style="color: #0099ff; padding-left: 5px; padding-top: 5px;">{{game.name}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 cover-tile-text" style="text-align: left;">
          <div id="picBlock">
            <img class="courtPic" ng-src="../assets/{{game.image}}"/>
          </div> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 cover-tile-text" style="text-align: left;">
          <h5 style="font-weight: bold;">Availability</h5>
        <h5>Time slots available</h5>
        </div>
      </div>
    </div>
  </div>
</div> 