<ul class="nav navbar-nav">
  <li><a href="/views/homePage.html" style="color: #24527b; weight: bold;">Home</a></li>
  <li><a href="/views/profile.html" style="color: #24527b; weight: bold;">Profile</a></li>
  <li><a href="/views/events.html" style="color: #24527b; weight: bold;">Events</a></li>
  <li class="dropdown" style="color: #24527b;">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #24527b; weight: bold;">Facilities <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/views/facility.html" style="color: #24527b;">Richards Building - BYU</a></li>
      <li><a href="/views/facility.html" style="color: #24527b;">24 Hour Fitness</a></li>
      <li><a href="/views/facility.html" style="color: #24527b;">Orem Recreation Center</a></li>  
      <li><a href="/views/facility.html" style="color: #24527b;">Provo Recreation Center</a></li>                      
    </ul>
  </li>
</ul>