<ul class="nav navbar-nav" style="width: 100%;">
  <li><a href="/views/homePage.html"><h6><b>Home</b></h6></a></li>
  <li><a href="/views/profile.html"><h6><b>Profile</b></h6></a></li>
  <li><a href="/views/events.html"><h6><b>Events</b></h6></a></li>
  <li class="dropdown" style="background-color: #4E7BA0;">
    <a class="dropdown-toggle" data-toggle="dropdown" style="background-color: #4E7BA0; max-height: 50px;" href="#"><h6><b>Facilities</b></h6> </a>
    <ul class="dropdown-menu" style="background-color: #666666;">
      <li><a href="/views/rbView.html" onclick="sessionStorage.facId = 4" style="color: #ffffff; font-size: 1.2em;"><b>Richards Building - BYU</b></a></li>
      <li><a href="/views/24View.html" style="color: #ffffff; font-size: 1.2em;"><b>24 Hour Fitness</b></a></li>
      <li><a href="/views/oremRecView.html" style="color: #ffffff; font-size: 1.2em;"><b>Orem Recreation Center</b></a></li>  
      <li><a href="/views/provoRecView.html" style="color: #ffffff; font-size: 1.2em;"><b>Provo Recreation Center</b></a></li>             
    </ul>
  </li>
</ul>