<ul class="nav navbar-nav" style="background-color: #4E7BA0;">
  <li><a href="/views/homePage.html">Home</a></li>
  <li><a href="/views/profile.html">Profile</a></li>
  <li><a href="/views/events.html">Events</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facilities <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/views/facility.html">Richards Building - BYU</a></li>
      <li><a href="/views/facility.html">24 Hour Fitness</a></li>
      <li><a href="/views/facility.html">Orem Recreation Center</a></li>  
      <li><a href="/views/facility.html">Provo Recreation Center</a></li>                      
    </ul>
  </li>
</ul>