<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- Our styles and code -->
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <script type ="text/javascript" src="app.js"></script>

    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <img src="https://graph.facebook.com/<?= $fid ?>/picture?type=large">
    <div>
      <h1> Jeff Stapleton </h1>
    </div>
    <ul>
      <h3> Email Address </h3>
	<ul>
	  <h5> jeff.d.stapleton@gmail.com  </h5>
	</ul>
      </li>
      <h3> Phone Number </h3>
	<ol>
	  <h5> (949) 632-0102 </h5>
	</ol>
      </li>
    </ul>
  </body>
</html>
