<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<!-- Our styles and code -->
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
	<script type ="text/javascript" src="app.js"></script>

	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">	
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
	<a class="navbar-brand" href="/views/homePage.html">Home</a>
      </div>
      <ul class="nav navbar-nav">
	<li><a href="/profile.html">Profile</a></li>
	<li><a href="/games.html">Events</a></li>
      </ul>
    </nav>

    <div id="title">
      <h1> Jeff Stapleton </h1>
      <h3> View and edit you profile page </h3>
    </div>

    <!-- middle column -->
    <div id="middleColumn">
      <div id="header">
	<div id="profilePic">
	</div>
      </div>
      <div id="buffer">
      </div>
      <div id="info">
	<h2>Email</h2>
	<P> jeff.d.stapleton@gmail.com </P>
	<h2>Phone Number</h2>
	<P> (949) 632-0102 </P>
      </div>
    </div>

	 
  </body>
</html>
