body{background-color: rgb(240,240,240);}

h6 {
    font-size: 1.5em;
    line-height: 0.5em;
    background-color: #24527b;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(97,153,198,0.3) 0px 3px 3px;
}

.cover-tile-image {
    
}

.cover-tile-text {
    
}