body {
    background-color: rgb(240,240,240); 
    text-align: center;  
    font-family: serif; 
    color: black;
}

img {
    text-align: center;
    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 5 10px rgba(0,0,0,0.5);
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
}