body {
    background-color: rgb(240,240,240); 
    text-align: center;  
    font-family: serif; 
    color: black;
}

div.facility {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    font-family: "Trebuchet MS", Helvetica, sans-serif
    text-align: left;
    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 5 10px rgba(0,0,0,0.5);
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:2.3em;
    color: #666666;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.3em;
    color: #666666;
}

h6 {
    font-size: 1.3em;
    background-color: #24527b;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(97,153,198,0.3) 0px 3px 3px;
}


h5 {
    padding-left: 5px;
    color: #666666;
}

#nameBlock {
    width:100%;
    height:30px;
}

#courtName {
    padding-top: 5px;
    padding-left: 5px;
    color: #0099ff;
}

#picBlock{
    width:100%;
    height:120px;
}

img {
    width:100%;
    height:100%; 
    display:block; 
    position:relative;
    overflow:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#info1 {
    padding-top: 8px;
    padding-left: 5px;
    color: #666666;
    font-size: 1.0em;
}

#info2 {
    padding-left: 5px;
    color: #666666;
    font-size: 0.8em;
}

#footer {
    width: 100%;
    height: 50px;
}