body {
    background-color: rgb(240,240,240);
}

h1 {
    padding-top: 120px; 
    font-family: serif; 
    color: black; 
    font-size: 18pt;
}

h3 {
    padding-top: 120px; 
    font-family: serif; 
    color: gray; 
    font-size: 12pt;
}

h5 {
    padding-top: 120px; 
    font-family: serif; 
    color: gray; 
    font-size: 10pt;
}
