html { 
    background: url(img/loginBackground4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center; padding-top: 290px; font-family: serif; color: white; background-color: rgb(240,240,240);
}

h1{font-size:3.7em;}

h6 {
    font-size: 1.5em;
    line-height: 0.5em;
    background-color: #24527b;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(97,153,198,0.3) 0px 3px 3px;
}

p{font-size: 1.6em;}

.fb-login-button{}

#fb-login-button{}