html { 
    background: url(../assets/loginbackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size:3.7em;
}

p {
    font-size: 1.6em;
}

.fb-login-button{}

#fb-login-button{}