body { 
    background: url(../assets/loginBackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 290px;
    font-family: serif; 
    color: white; 
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size:3.7em;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.6em;
}

h6 {
    font-size: 1.5em;
    background-color: #24527b;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(97,153,198,0.3) 0px 3px 3px;"
}

.fb-login-button{}

#fb-login-button{}