body { 
    background: url(../assets/loginBackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: serif; 
    color: white; 
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:2.3em;
    color: #ffffff;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.3em;
    color: #ffffff;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.6em;
}

h6 {
    font-size: 1.3em;
    background-color: #24527b;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(97,153,198,0.3) 0px 3px 3px;
}

#loginInfo {
    top: 40%;
}

.fb-login-button{}

#fb-login-button{}